* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: black;
  background-image: url(/static/imgs/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

/* Announcement */
.ann {
  background-color: rgb(97, 255, 176);
  text-align: center;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
}
.ann a {
  text-decoration: none;
  color: black;
}
/* Header */
header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: rgba(49, 49, 49, 0.403);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 30px;
  z-index: 100;
}
header nav img {
  height: 35px;
}
header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
header nav ul li {
  cursor: pointer;
}
header nav ul li a {
  text-decoration: none;
  color: white;
}
header button {
  padding: 10px 20px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
header #app {
  background-color: rgb(97, 255, 176);
  border-radius: 6px;
}
header #buy {
  border-radius: 6px;
  background-color: rgba(97, 255, 176, 0.17);
  border: 1px solid rgb(97, 255, 176);
  color: rgb(97, 255, 176);
}
/* Section One*/
section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

section .box {
  font-weight: bold;
  padding: 25px;
  border-radius: 10px;
  backdrop-filter: blur(20px);
  background-color: #eeeeee2d;
  width: 30%;
}
section .box p {
  font-weight: normal;
  margin: 10px 0;
}
section .box button {
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  width: 49%;
  cursor: pointer;
}
section .box #app {
  background-color: rgb(97, 255, 176);
}
section .box #whatis {
  background-color: rgba(97, 255, 176, 0.17);
  border: 1px solid rgb(97, 255, 176);
  color: rgb(97, 255, 176);
}

/* Section About */
.section-about {
  padding: 70px;
  background-image: url(/static/imgs/bg-about.png);
}
#about,
#architecture {
  font-weight: bold;
  text-align: center;
  font-size: 3em;
}

.short-desc {
  font-size: 2em;
}
.section-about .section-about-details {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.section-about .section-about-details .detail {
  padding: 20px;
  border-radius: 10px;
  width: 35%;
  background-color: rgba(97, 255, 176, 0.147);
  border: 1px solid rgb(97, 255, 176);
  backdrop-filter: blur(10px);
}
.section-about .section-about-details .detail .detail-title {
  font-size: 1.6em;
  margin: 10px 00;
  color: rgb(97, 255, 176);
}
.section-about .section-about-details .detail img {
  border-radius: 10px;
  width: 100%;
}
/* Section Architecture */
.section-architecture {
  padding: 70px;
  background-color: rgb(0, 0, 0);
}

.section-architecture img {
  display: block;
  width: 85%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(97, 255, 176);
  border-radius: 20px;
}
/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(97, 255, 176);
  color: black;
  padding: 30px;
}

footer ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

footer ul li {
  cursor: pointer;
}
/* Top Button */
.top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: rgb(97, 255, 176);
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid rgb(1, 105, 53);
  width: 45px;
  height: 45px;
}

.top img {
  width: 45px;
  height: 45px;
}
